.rent_wrapper {
    display: flex;
    margin-top: 323px;
}

.rent {
    z-index: 1;
    position: relative;
}

.rent_wrap-2 {
    display: flex;
}

.rent_img-small {
    display: flex;
    flex-direction: column;
    margin-top: 601px;
    margin-left: 142px;
}

.rent_title {
    font-family: Raleway, sans-serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    left: 367px;
    z-index: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( 90deg, #ffffff 39%, #242425 27%);
}

.rent_wrap-1 {
    position: relative;
}

.rent_wrap-2 p {
    color: #686868;
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 526px;
    margin-left: 50px;
    margin-top: 168px;
}

.rent_img-small-mobile {
    display: none;
}

.sale_wrapper .rent_img-small {
    margin-top: -105px;
    margin-left: 0;
    margin-right: 149px;
}

.sale_wrapper {
    margin-bottom: 90px;
}

.rentInfo {
    margin-top: 95px;
}

.rentInfo-title div {
    font-family: Raleway, sans-serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
}

.rentInfo-title div:last-child {
    margin-left: 66px;
}

.rentInfo-title.bigText-wrap>div {
    text-align: start;
}

.rentInfo_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 90px 0 90px 0;
}

.rentInfo_list-item {
    display: flex;
    border-bottom: 1px solid #C5C5C5;
    padding: 5px 5px 5px 0;
    margin-bottom: 10px;
    align-items: center;
    width: 50%;
}

.rentInfo_list-item img{
    margin-right: 100px;
}

.rentInfo_list-item div {
    color: #686868;
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.rentInfo-aria {
    display: flex;
}

.rentInfo-aria-item {
    margin-right: 50px;
    margin-bottom: 50px;
}

.rentInfo-aria-item div {
    margin-bottom: 50px;
}

.rentInfo-aria-item div div:first-child {
    color: #686868;
    font-family: Roboto Mono, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-bottom: 1px solid #C5C5C5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.rentInfo-aria-item div div:last-child {
    color: #242425;
    font-family: Raleway, monospace;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.rentInfo-aria-item div span:last-child {
    color: #242425;
    font-family: Raleway, monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.mapBusiness {
    background: #DBDBDB;
    margin-top: 90px;
}

.mapBusiness-2 {
    display: none;
}

.mapSelect {
    fill: #DFBE97;
    cursor: pointer;
}

.mapSelect:hover {
    fill: #DFBE97;
    stroke: #242425;
    stroke-width: 1px;
}

.mapClick {
    /*fill: #242425;*/
    fill: #DFBE97;
    stroke: #242425;
    stroke-width: 1px;
}

.hidden {
    display: none;
}

.filterMap {
    display: inline-block;
    position: relative;
}

.filter-mobile-btn-wrap {
    display: none;
}

.filter-mobile-btn {
    display: flex;
    align-items: center;
}

.dropdown-btn {
    cursor: pointer;
    width: 527px;
    height: 65px;
    padding: 15px 30px;
    border-radius: 60px;
    background:  #242425;
    color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.forBusinessBlock .filterMap-content {/*add*/
    display: block !important;
    padding: 10px;
}

.forBusinessBlock .dropdown-btn {/*add*/
    justify-content: center;
    cursor: default;
}

.forBusinessBlock .arrow {/*add*/
    display: none;
}

.filterMap-content {
    display: none;
    padding: 10px;
}

.filterMap-content label {
    display: block;
    margin-bottom: 8px;
}

.filterMap-content input {
    margin-right: 8px;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
}

.filterMap .open .arrow {
    transform: rotate(180deg);
}

.filterMap-clear-btn.footer-btn {
    background: none;
}

.mapBusiness-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 77px;
}

.mapBusiness-wrap-blk {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.filterMap-btn.footer-btn {
    width: 100%;
}



.popupRent {
    display: none;
    width: 527px;
    background: #F4F4F4;
    padding: 30px;
    margin: 15px 0;
    position: relative;
}

.popupRent-title {
    font-family: Roboto Mono,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.popupRent-item.cards_item-floor span {
    color: #242425;
    font-family: Roboto Mono,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popupRent-close img {
    width: 25px;
    height: 25px;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    right: 15px;
    top: 15px;
}

input[type=radio] {
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 2px;
    display: inline-grid;
    place-content: center;
}

input[type=radio]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    background-color: #fff;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

input[type=radio]:checked::before {
    transform: scale(1);
}
input[type=radio]:checked{
    background-color: #242425;
    border: 2px solid #242425;
}

.icons {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 90px;
    margin-top: 30px;
}

.icons-item-1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #242425;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icons-item-1:not(:last-child) {
    margin-right: 15px;
}

.icons-item-1.active {
    background: #DFBE97;
}

.icons-item-2 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icons-item-2:not(:last-child) {
    margin-right: 15px;
}

.icons-block {
    display: flex;
}

.icons-block:first-child {
    margin-right: 77px;
}

.forBusiness-questions .questions_container {
    flex-direction: row-reverse;
}

.forBusiness-questions .questions_wrap {
    flex-direction: row-reverse;
}

.forBusiness-questions .questions_small-img {
    margin-right: 0;
    margin-left: 144px;
}

.forBusiness-questions .questions_form {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 67px;
    margin-right: 49px;
}

.forBusiness-questions .questions_title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( 270deg, #ffffff 45%, #242425 45%);
}

.map_box_wrapper {/*add*/
    position: relative;
    overflow: hidden;
}

.svg-map {/*add*/
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    transform: scale(1);
}
