@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #242425;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    margin: 0;
}

/*wrapper*/
#wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #F4F4F4
}

.container {
    max-width: 1680px;
    margin: 0 auto;
}

/*header*/
.topInfo-wrap {
    background: #242425;
}

.topInfo {
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.icon-phone {
    display: flex;
    align-items: center;
}

.icon-phone img {
    margin-right: 10px;
}

.img-back {
    background: url("../images/img/main-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 926px;
    position: relative;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 29px 0;
}

.header-list {
    display: flex;
    align-items: baseline;
}

.header-list li {
    list-style-type: none;
    margin-right: 50px;
}

.header-list a {
    text-decoration: none;
    color: #F4F4F4;
}

.header-list li:last-child {
    background: #242425;
    border-radius: 60px;
    display: flex;
    width: 225px;
    height: 65px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

.header-list li a:last-child {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-list li a:last-child img{
    margin-left: 10px;
}

.header-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-title span {
    color: #F4F4F4;
    font-family: Raleway, sans-serif;
    font-size: 206px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-right: 20px;
}

.header-title span:last-child {
    margin-left: 603px;
}

.header-address {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
}

.header-address p {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    left: 238px;
    top: 25px;
}

.header-address img {
    position: absolute;
    left: 327px;
    top: -58px;
}

.btn-round {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 auto;
    text-align: center;
    margin-top: 235px;
}

.btn-round img{
    padding-top: 7px;
}

/*content*/
.content {
    flex: 1 0 auto;
}

.content-img {
    position: absolute;
    bottom: 284px;
}

/*scroll-container*/
.scroll-container {
    margin-top: 369px;
    display: flex;
    margin-bottom: 252px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding-inline: 50vh;
    padding-right: 200px;
}

.content-scroll {
    width: 100%;
    position: relative;
    display: flex;
    margin-right: 200px;
}

.scroll-block-logo {
    display: flex;
    width: 240px;
    height: 240px;
    padding: 0 33px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 173px;
    left: -30px;
    background: white;
}

.scroll-block-title {
    font-family: Raleway, sans-serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #242425;
    margin-top: 69px;
    margin-left: -130px;
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.btn-wrap a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 76px;
}

.img-details {
    width: 45px;
    height: 45px;
    background: #242425;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrap span {
    margin-left: 10px;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #242425;
}

/*about mall*/
.about-wrap {
    display: flex;
    justify-content: center;
    position: relative;
}

.about-img {
    position: absolute;
}

.about-title-1 {
    margin-left: -196px;
    margin-top: 30px;
}

.about-title-2 {
    margin-left: -196px;
}

.about-title-3 {
    display: flex;
    justify-content: end;
}

.about-block-third p {
    max-width: 526px;
    margin-top: 111px;
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #686868;
}

.about-title {
    font-family: Raleway, sans-serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #242425;
}

.about-block-second img {
    margin: 269px 0 0 146px;
}

.about-block-second {
    margin-right: 51px;
}

/*shops*/
.shops-nav {
    display: flex;
    justify-content: space-between;
    min-width: 527px;
    border-bottom: 1px solid #C5C5C5;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.shops-nav div {
    font-family: Raleway, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.shops-nav-wrap {
    display: flex;
    justify-content: space-between;
}

.shop-item img {
    margin-right: 50px;
    margin-top: 50px;
}

.shop-item-last img{
    margin-right: 0;
    margin-top: 50px;
}

.shops-block {
    display: flex;
}

.shops-block:last-child {
    display: flex;
    justify-content: end;
}

.shops-back-line {
    position: absolute;
    margin-top: 350px;
}

.shops-wrap {
    position: relative;
    margin-top: 144px;
}

.shops-wraps {
    margin-bottom: 180px;
}

/*followUs*/
.followUs-container {
    position: relative;
}
.followUs-img-line {
    position: absolute;
    top: -188px;
    z-index: 1;
    width: 100%;
}

.followUs-wrap {
    height: 627px;
    background: #242425;
}

.followUs-title {
    font-family: Raleway, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #F4F4F4;
}

.followUs-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*footer*/
.footer {
    flex-shrink: 0;
}

