@media screen and (max-width:1739px){
    .container {
        /*padding: 0 30px;*/
        max-width: 1140px;
    }
    .header-list li:not(:last-child) {
        margin-right: 40px;
    }
    .header-title span {
        font-size: 140px;
        text-align: justify;
    }
    .header-title div:last-child span {
        margin-left: 575px;
    }
    .header-address img {
        left: 364px;
        top: 116px;
        max-width: 397px;
    }
    .header-address p {
        left: 245px;
        top: 199px;
        font-size: 16px;
    }
    .btn-round {
        width: 60px;
        height: 60px;
        bottom: 42px;
    }
    .pop_up {
        width: 670px;
        height: 631px;
    }
    .pop_up_main p {
        font-size: 70px;
        font-style: normal;
        margin-bottom: 60px;
    }
    .pop_up_main input:not(.addToTeams-checkbox input) {
        width: 410px;
        height: 60px;
    }
    .addToTeams-checkbox {
        max-width: 410px;
    }
    .scroll-container {
        padding-inline: 653px;
        padding-right: 150px;
    }
    .header-list li:last-child {
        width: 200px;
        height: 60px;
    }
    .header-list li a:last-child img {
         margin-left: 0;
    }
    .all-shops-btn {
        width: 200px;
        height: 60px;
    }
    .all-shops-btn span {
         margin-right: 0;
    }
    .scroll-container {
        margin-top: 279px;
        margin-bottom: 252px;
        padding-inline: 652px;
    }
    .all-shops-btn-wrap {
        top: 220px;
    }
    .content-scroll {
        margin-right: 230px;
    }
    .content-scroll>img {
        width: 266px;
        height: 275px;
    }
    .scroll-block-logo {
        width: 183px;
        height: 183px;
        top: 130px;
        left: -30px;
    }
    .scroll-block-logo img {
        width: 123px;
        height: 48px;
    }
    .scroll-block-title {
        font-size: 70px;
        margin-top: 25px;
        margin-left: -78px;
    }
    .btn-wrap a {
         margin-left: 0;
    }
    .about-block-first>img {
        width: 353px;
        max-height: 471px;
    }
    .about-title {
        font-size: 70px;
    }
    .about-title-1 {
        margin-left: -147px;
    }
    .about-title-2 {
        margin-left: -147px;
    }
    .about-title-3 {
        margin-left: 101px;
    }
    .about-block-second>img {
        width: 283px;
        margin: 324px 0 0 79px;
    }
    .about-block-third p {
        max-width: 353px;
        font-size: 16px;
        margin-top: 120px;
    }
    .about-block-second {
        margin-right: 41px;
    }
    .shops-nav {
        min-width: 353px;
    }
    .shop-item>img {
        margin-right: 40px;
        margin-top: 40px;
        max-width: 354px;
    }
    .shop-item-link span {
        max-width: 240px;
    }
    .shop-item-link {
        bottom: 20px;
        left: 20px;
    }
    .followUs-title {
        font-size: 70px;
        padding: 60px 0 40px 0;
    }
    .followUs-img-block div img {
        max-width: 280px;
    }
    .followUs-img-block {
        margin-bottom: 43px;
    }
    .social-block {
        padding-bottom: 73px;
    }
    .addToTeams-title {
        font-size: 70px;
        width: 703px;
    }
    .add-to-us-big img {
        left: 44px;
        max-width: 354px;
    }
    .add-to-us-small img {
        margin-left: 97px;
        max-width: 283px;
    }
    .followUs-block {
        margin: 220px 0 180px 0;
    }
    .followUs-block-wrap>div form {
        top: 239px;
        left: 0;
    }
    input.emailAddress {
        width: 353px;
        height: 60px;
    }
    .followUs-block-wrap input[type="submit"] {
        width: 353px;
        height: 60px;
    }
    .followUs-block-wrap div form .addToTeams-checkbox {
        width: 353px;
    }
    .bigText-wrap {
        font-size: 140px;
        margin-bottom: 40px;
    }
    .contact-block-wrap {
        margin-right: 133px;
    }
    .contact-block-wrap {
        margin-right: 133px;
        margin-left: 168px;
    }
    .shop-block-wrap {
        margin-right: 133px;
    }
    .page-block-wrap {
         margin-right: 0;
    }
    .footer-wrap {
        padding-bottom: 40px;
    }
    .footer-info-text {
        margin-top: 40px;
    }
    .foot-back-desktop {
        display: none;
    }
    .foot-back-mobile {
        display: block;
    }
    .foot-back {
        flex-direction: row;
        justify-content: end;
        margin-top: 26px;
    }
    .page-404_img {
        margin-right: 40px;
    }

}

@media screen and (max-width:1199px){
    .container {
        padding: 0 25px;
        max-width: 980px;
    }
    .header-menu .header-list li:not(:last-child) {
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .burger-icon{
        display: block;
    }
    .header-list li:last-child {
        width: 180px;
        height: 45px;
        padding: 10px 20px;
        position: absolute;
        right: 191px;
        top: 82px;
    }
    .header-list li a:last-child img {
         margin-left: 0;
    }
    .header-title span {
        font-size: 120px;
    }
    .header-title div:last-child span {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .header-title div:first-child {
        flex-direction: column;
    }
    .header-title div:first-child span:last-child{
        display: flex;
        justify-content: end;
    }
    .header-address img {
        left: 420px;
        top: 56px;
        max-width: 275px;
    }
    .header-address p {
        left: 228px;
        top: 106px;
    }
    .btn-round {
        width: 45px;
        height: 45px;
        bottom: 40px;
    }
    .footer-btn span {
         margin-right: 0;
    }
    .footer-btn {
        width: 180px;
        height: 45px;
        padding: 10px 20px;
        margin: 0 auto;
    }
    .menu-content .topInfo {
        display: none;
    }
    .burger-img-line-mob {
        display: none;
    }
    .pop_up {
        width: 574px;
        height: 523px;
    }
    .pop_up_main p {
        font-size: 60px;
    }
    .pop_up_main input:not(.addToTeams-checkbox input) {
        width: 350px;
        height: 45px;
    }
    .pop_up_main input:not(.addToTeams-checkbox input) {
        width: 526px;
        height: 65px;
        padding: 15px 20px;
        margin-bottom: 20px;
    }
    .submit img {
        top: 11px;
        right: 20px;
    }
    .addToTeams-checkbox {
        max-width: 339px;
        font-size: 12px;
    }
    .all-shops-btn {
        width: 180px;
        height: 45px;
        padding: 10px 20px;
    }
    .scroll-container {
        margin-top: 254px;
        margin-bottom: 170px;
        padding-inline: 438px;
    }
    .scroll-block-title {
        font-size: 60px;
        margin-left: -65px;
    }
    .img-details {
        width: 40px;
        height: 40px;
    }
    .content-scroll {
        margin-right: 257px;
    }
    .about-wrap {
        flex-direction: column;
    }
    .about-title {
        font-size: 60px;
    }
    .about-title-2 {
        margin-left: -87px;
    }
    .about-title-1 {
        margin-left: -105px;
    }
    .about-block-second>img {
        width: 283px;
        margin: 129px 0 0 51px;
    }
    .about-block-third p {
        max-width: 100%;
        margin-top: 40px;
    }
    .shops-nav-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .shops-nav-wrap {
        max-width: 100%;
        justify-content: end;
        flex-direction: column;
        margin-bottom: 20px;
        margin-left: auto;
    }
    .shops-nav div {
        font-size: 20px;
    }
    .shop-item>img {
        margin-right: 0;
        margin-top: 0;
        max-width: 100%;
        padding-right: 20px;
        padding-top: 20px;
    }
    .shop-item-1>img {
        margin-right: 0;
        padding-right: 0;
    }
    .shop-item-last>img {
        padding-right: 0;
    }
    .shops-block {
        justify-content: center;
    }
    .shops-block:nth-child(2) {
        justify-content: center;
    }
    .shop-item-btn {
        display: none;
    }
    .shop-item-btn-mobile {
        display: block;
    }
    .shop-item-link span {
        max-width: 148px;
        font-size: 20px;
    }
    .shops-container {
        /*max-width: 100%;*/
    }
    .shop-item-btn .btn-wrap a {
        margin-top: 40px;
    }
    .followUs-title {
        font-size: 60px;
        padding: 40px 0 40px 0;
    }
    .followUs-img-line {
        top: -55px;
    }
    .followUs-img-block {
        z-index: 11;
        position: relative;
    }
    .followUs-img-block div:last-child {
        display: none;
    }
    .btn-premier_tower span {
        font-size: 20px;
    }
    .followUs-img-block {
        margin-bottom: 24px;
    }
    .img-social {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
    .social-block {
        padding-bottom: 40px;
    }
    .followUs-img-block div img {
        max-width: 100%;
    }
    .followUs-img-block div img:first-child {
        padding-right: 10px;
    }
    .followUs-img-block div img:nth-child(3) {
        padding-left: 10px;
    }
    .add-to-us-small img {
        display: none;
    }
    .followUs-block {
        margin: 170px 0 170px 0;
    }
    .followUs-block-wrap {
        margin: 0 auto;
    }
    .addToTeams-title {
        font-size: 60px;
    }
    .bigText-wrap {
        font-size: 90px;
        margin-bottom: 60px;
    }
    .footer-wrap {
        padding-top: 60px;
        padding-bottom: 90px;
        flex-direction: column;
    }
    .footer-wrap>div {
        width: 100%;
    }
    .contact-block-wrap {
        margin-left: 0;
        margin-right: 0;
        max-width: 200px;
    }
    .shop-block-wrap {
        margin-right: 0;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-info {
        flex-direction: row;
        justify-content: space-between;
    }
    .foot-back {
        margin-top: 60px;
    }
    .footer-info-text {
        margin-top: 60px;
    }
    .footer-wrap {
        padding-bottom: 57px;
        flex-direction: column;
    }
    .footer-wrap>div:last-child {
        margin-top: 72px;
    }
    .page-404_img {
        max-width: 400px;
    }
    .page-404_title div {
        font-size: 65px;
    }


}

@media screen and (max-width:992px){
    .header-list li:last-child {
        right: 96px;
    }

}

@media screen and (max-width:767px){
    .img-back {
        display: none;
    }
    .img-back-mobile {
        display: block;
    }
    .container {
        padding: 0 20px;
    }
    .header-title span {
        font-size: 80px;
    }
    .topInfo {
        display: none;
    }
    .header-list li:last-child {
        display: none;
    }
    .header-list li:last-child {
        display: none;
    }
    .menu-content li:last-child {
        display: block;
    }
    .header-address p {
        left: 0;
        top: 75px;
        max-width: 155px;
        font-size: 14px;
    }
    .header-address img {
        left: 161px;
        top: 50px;
        max-width: 205px;
    }
    .btn-round {
        bottom: 90px;
    }
    .menu-content li a {
        font-size: 35px;
        font-weight: 500;
        line-height: 120%;
    }
    .menu-content li {
        width: 340px;
    }
    .menu-content ul {
        gap: 15px;
        margin-bottom: 40px;
    }
    .menu-content {
        padding-top: 90px;
    }
    .burger-img-line {
        display: none;
    }
    .burger-img-line-mob {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .menu-content .topInfo {
        display: block;
        margin-bottom: 40px;
        font-size: 12px;
    }
    .burger-menu .footer-btn{
        margin-top: 40px;
    }
    .booter_soc {
        margin-top: 40px;
    }
    .booter_soc img {
        width: 30px;
        height: 30px;
        padding: 6px 6px;
    }
    .footer-btn {
        width: 169px;
        height: 40px;
        padding: 10px 15px;
    }
    .pop_up {
        width: 320px;
        height: 424px;
    }
    .pop_up_main p {
        font-size: 35px;
        margin-bottom: 45px;
    }
    .pop_up_main {
        padding: 59px 28px 86px;
    }
    .pop_close img {
        width: 40px;
        height: 40px;
    }
    .pop_up_main input:not(.addToTeams-checkbox input) {
        width: 267px;
        height: 40px;
        padding: 13px 15px;
    }
    .submit img {
        top: 9px;
        right: 15px;
    }
    .pop_close {
        top: 13px;
    }
    .all-shops-btn {
        width: 156px;
        height: 40px;
        padding: 10px 15px;
    }
    .all-shops-btn span {
        font-size: 14px;
    }
    .content-scroll {
        margin-right: 79px;
    }
    .scroll-container {
        margin-top: 221px;
        margin-bottom: 146px;
        padding-inline: 100px;
    }
    .content-scroll {
        margin-right: 79px;
        flex-direction: column-reverse;
    }
    .btn-wrap {
        justify-content: flex-start;
        position: absolute;
        bottom: -100px;
        right: 169px;
    }
    .scroll-block-title {
        font-size: 60px;
        margin-left: -57px;
    }
    .scroll-block-logo {
        top: 220px;
    }
    .about-block-second>img {
        display: none;
    }
    .about-img-mobile {
        display: block;
        margin-top: 20px;
        max-width: 160px;
        margin-left: auto;
    }
    .about-wrap div:first-child {
        flex-direction: column-reverse;
    }
    .about-block-first>img {
        width: 100%;
        max-height: none;
    }
    .about-title {
        font-size: 35px;
    }
    .about-block-second {
        max-width: 216px;
        margin-left: 110px;
        position: absolute;
        top: -89px;
    }
    .about-title-2 {
        margin-left: -105px;
    }
    .shops-wrap {
        margin-top: 100px;
    }
    .shops-nav {
        min-width: 100%;
    }
    .shops-nav-wrap {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .shops-block {
        flex-direction: column;
    }
    .shop-item>img {
        margin-right: 0;
        max-width: 100%;
        width: 100%;
        border-bottom: 1px solid #C5C5C5;
        padding-bottom: 26px;
    }
    .btn-wrap {
        right: 0;
        z-index: 11;
    }
    .shop-item-link {
        bottom: 50px;
    }
    .followUs-title {
        font-size: 35px;
        padding: 30px 0 19px 0;
    }
    .followUs-img-block div img {
        max-width: 100%;
    }
    .followUs-img-block div img:first-child {
        padding-right: 10px;
    }
    .followUs-img-block div img:nth-child(3) {
        padding-left: 10px;
    }
    .social-block {
        justify-content: start;
        flex-direction: column;
    }
    .btn-premier_tower a {
        margin-bottom: 15px;
    }
    .img-social {
        width: 30px;
        height: 30px;
        margin-left: 0;
        margin-right: 15px;
    }
    .followUs-block-wrap {
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    .addToTeams-title {
        font-size: 35px;
        max-width: 306px;
    }
    .add-to-us-big {
        margin-top: 102px;
    }
    .add-to-us-big img {
        left: 0;
        top: 0;
        max-width: 100%;
        width: 100%;
    }
    .addToTeams-form-desktop {
        display: none;
    }
    .addToTeams-form-mobile {
        display: block;
        margin-top: 40px;
    }
    .followUs-block-wrap>div form {
        top: 0;
        left: 0;
    }
    input.emailAddress {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
    }
    .followUs-block-wrap input[type="submit"] {
        width: 100%;
        height: 40px;
        padding: 13px 15px
    }
    .followUs-block-wrap div form .addToTeams-checkbox {
        min-width: 100%;
    }
    .followUs-block {
        margin: 100px 0 100px 0;
    }
    .submit {
        width: 100%;
    }
    .bigText-wrap {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .shop-block-wrap a {
        font-size: 14px;
    }
    .contact-block {
        font-size: 14px;
    }
    .page-block-wrap a {
        font-size: 14px;
    }
    .footer-info-text {
        font-size: 14px;
        flex-direction: column;
        text-align: center;
    }
    .footer-info {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer-logo {
        margin-bottom: 40px;
        padding-top: 40px;
    }
    .footer-wrap>div {
        margin-bottom: 40px;
    }
    .contact-block-wrap {
        max-width: 100%;
        margin-bottom: 90px;
    }
    .shop-block-wrap {
        margin-right: 40px;
    }
    .powered {
        margin: 0 auto;
    }
    .foot-back {
        margin-top: 80px;
    }
    .page-404_img {
        max-width: 100%;
        margin-top: 80px;
    }
    .page-404_wrapper {
        flex-direction: column;
    }
    .page-404_title div {
        font-size: 40px;
    }
    .page-404_title div:nth-child(2) {
        margin-left: 56px;
    }
    .page-404_title div:last-child {
        margin-left: 57px;
    }
}
