@media screen and (max-width:1739px){
    .container {
        padding: 0 30px;
    }

}

@media screen and (max-width:1199px){
    .header-menu .header-list li:not(:last-child) {
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .burger-icon{
        display: block;
    }

}

@media screen and (max-width:992px){

}

@media screen and (max-width:767px){

}