.clothesShoes_btn-more .btn-wrap {
    justify-content: flex-start;
}

.clothesShoes_btn-more .btn-wrap a  {
    margin-left: 0;
}

.beautyHealth_btn-more .btn-wrap {
    justify-content: flex-start;
}

.beautyHealth_btn-more .btn-wrap a  {
    margin-left: 0;
}

.accordion-item {
    margin: 0 0 15px 0;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.accordionWrap {
    width: 100%;
}

.accordion-content {
    display: none;
    padding: 10px;
}

/*.arrow::before {*/
/*    content: "▼";*/
/*    margin-left: 10px;*/
/*}*/

/*.open .arrow::before {*/
/*    content: "▲";*/
/*    transform: rotate(180deg);*/
/*}*/

.accordion-btn-clear.footer-btn {
    border-radius: 60px;
    border: 1px solid #242425;
    width: 163px;
    padding: 10px 20px;
    background: #DBDBDB;
}

.accordion-btn-look.footer-btn {
    background: #242425;
}

.accordion-btn-look.footer-btn span {
    color: #F4F4F4;
}

.accordion-filter-btn {
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 400px;
}

.cards_item {
    border: 1px solid #F4F4F4;
    background: #F4F4F4;
    max-width: 238px;
    transition: .3s ease;
}

.cards_item:hover {
    border: 1px solid #C5C5C5;
}

.cards_item-img {
    display: flex;
}

.cards_item-img img {
    width: 100%;
    object-fit: cover;
    max-height: 238px;
    min-height: 238px;
}

.cards_item-img111 img {
    width: 100%;
    object-fit: cover;
    max-height: 238px;
    min-height: 238px;
}

.cards_item-title {
    background: #242425;
    margin-bottom: 10px;
}

.cards_item-title a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.cards_item-title span {
    color: #F4F4F4;
}

.cards_item-info {
    padding: 10px;
}

.cards_item-open {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cards_item-open img {
    margin-right: 10px;
}

.cards_item-open span {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.cards_item-open.closed span {
    color: #DFBE97;
}


.cards_item-floor {
    margin-bottom: 10px;
}

.cards_item-floor span{
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #686868;
}

.cards_item-time {
    margin-bottom: 15px;
}

.cards_item-time span{
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #686868;
}

.cards_item-phone {
    margin-bottom: 15px;
}

.cards_item-phone span{
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #242425;
}

.cards_item-map a span{
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #242425;
}

.organizations-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.organizations-btn {
    margin-bottom: 200px;
}

.filter.mapBusiness-wrap-blk.mapBusiness-wrap-hidden {
    align-items: flex-start;
}

.clothesShoes-title {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
}

.clothesShoes div:not(:last-child) {
    margin-bottom: 10px;
}

.beautyHealth div:not(:last-child) {
    margin-bottom: 10px;
}

.beautyHealth-title {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
}

.clothesShoes_btn-more, .beautyHealth_btn-more {
    margin-top: 40px;
    border-bottom: 1px solid #C5C5C5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.clothesShoes, .beautyHealth {
    width: 100%;
}

.burger-iconFilter-bar {
    display: none;
}

.filter .beautyHealth-title, .filter .clothesShoes-title {
    display: flex;
    justify-content: space-between;
}

.filterDrop .accordion-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.filterDrop.active .accordion-content {
    display: block;
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.filterDrop .arrow-icon {
    width: 12px;
    height: 12px;
    border-top: 1px solid #242425;
    border-left: 1px solid #242425;
    transform: rotate(225deg);
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease-out;
}

.filterDrop.active .arrow-icon {
    border-top: 1px solid #C5C5C5;
    border-left: none;
    transform: rotate(180deg);
}
